footer{
  height:408px;
  background-color: #1B1F26;
  background-repeat: no-repeat;
  background-position:center bottom;
  background-size:1920px auto;
  color: white;
}
footer li{
    list-style: none;
    margin-bottom:34px;
    font-weight:bold;
}
footer .col-4{
    margin-top:113px;
}
.logos img{
    margin-right:20px;
    margin-top:280px;
}